<section class="blog">
  <img src="">
  <div class="blog-details">
    <h3>{{blog.title}}</h3>
    <p> {{blog.content}}</p>
    <p> Posted by:  {{ format_date blog.creation_date}}</p>
  </div>
</section>